body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: hsl(0, 78%, 40%);
  }
  
  h1 {
    text-align: center;
    margin-top: 40px;
  }
  
  img {
    display: block;
    margin: 40px auto;
    max-width: 1500px;
  }
  .flex-container {
  display: flex;}
  /* .text-div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .text-div h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .text-div p {
    font-size: 18px;
    color: #777;
  } */

  .text-div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text-div h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .text-div p {
    font-size: 20px;
    color: #777;
  }
  
  .text-div p.line2 {
    color: #b00b1b;
    font-size: 30px;
    line-height: .5;
  }


  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  